{% extends 'ArtBase.html' %}
{% block content %}

    <h3>等待审核任务</h3>
    <table class="table" id="audit" style="margin-top: 20px;">
        <thead style="font-size: 14px; font-weight: 800;">
            <tr></tr>
            <tr>
                <td>ID</td>
                <td>类别</td>
                <td>预览图</td>
                <td>任务描述</td>
            </tr>
        </thead>
        <tbody>
            {% if not sart_list %}
                <tr>
                    <td colspan="4">没有待审核任务!</td>
                </tr>
            {% else %}
                {% for p in sart_list %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.group.name }}</td>
                        <td>
                            <img width="150px" src="{{ MEDIA_URL }}{{ p.screen_shot }}"/>
                        </td>
                        <td>
                            <textarea class="form-control" disabled>{{ p.description }}</textarea>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <nav style="text-align: center">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a href="#" aria-label="Previous">上一页</a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Previous">下一页</a>
            </li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}