<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>ArtWorkManager | 提交资源</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'ArtWorkManager/css/main.css' %}" >
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="menus">
        <div class="row">
            <div class="col-xs-7">
                <h3>ArtWorkManager <small>美术资源管理系统</small></h3>
            </div>
            <div class="col-xs-5">
                <h2 id="username">
                    <span class="glyphicon glyphicon-user"></span>{{ user.username }}　
                    <span class="glyphicon glyphicon-share-alt"></span>
                    <a href="{% url 'login:sign_out' %}">退出</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="art">
        <div class="row">
            <div class="col-xs-3">
                <h2>资源管理</h2>
                <div class="row">
                    <div class="col-xs-12" style="margin-top: 20px;">
                        <a href="/art/">
                            <div class="admin_task">
                                <div class="dsh"></div>
                                <div class="task_font">等待上传</div>
                                <div class="task_num">{{ ddsc }}</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12" style="margin-top: 20px;">
                        <a href="/art/audit/">
                            <div class="admin_task">
                                <div class="dsh" style="background: #337ab7;"></div>
                                <div class="task_font">等待审核</div>
                                <div class="task_num">{{ ddsh }}</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12" style="margin-top: 20px;">
                        <a href="/art/pass/">
                            <div class="admin_task">
                                <span class="glyphicon glyphicon-ok-circle" style="color: green; font-size: 30px;"></span>
                                <div class="task_font">审核通过</div>
                                <div class="task_num">{{ psh }}</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12" style="margin-top: 20px; margin-bottom: 20px;">
                        <a href="/art/faild/">
                            <div class="admin_task">
                                <span class="glyphicon glyphicon-remove-circle" style="color: red; font-size: 30px;"></span>
                                <div class="task_font">审核未通过</div>
                                <div class="task_num">{{ fsh }}</div>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="/login/menu"><div id="back">返回主页</div></a>
            </div>
            <div class="col-xs-9">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>