{% extends 'ArtBase.html' %}
{% block content %}

    <h3>等待上传资源任务</h3>
    <table class="table" id="audit" style="margin-top: 20px;">
        <thead style="font-size: 14px; font-weight: 800;">
            <tr></tr>
            <tr>
                <td>ID</td>
                <td>类别</td>
                <td>任务优先级</td>
                <td>任务描述</td>
                <td>上传资源</td>
            </tr>
        </thead>
        <tbody>
            {% if not darts %}
                <tr>
                    <td colspan="5">没有等待上传资源的任务!</td>
                </tr>
            {% else %}
                {% for p in darts %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.group.name }}</td>
                        <td>{{ p.priority }}</td>
                        <td>
                            <textarea class="form-control" disabled>{{ p.description }}</textarea>
                        </td>
                        <td>
                            <a href="javascript:AjaxGet('/art/upload/?art_id={{ p.id }}')">
                                <button class="btn btn-primary btn-block btn-sm" style="width: 100%;">上传</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <div id="popDiv" class="mydiv" style="display:none;"></div>
    <div id="bg" class="bg" style="display:none;"></div>
    <iframe id='popIframe' class='popIframe' frameborder='0'></iframe>

    {% if darts and darts.paginator.num_pages != 1 %}
        <nav style="text-align: center;">
            <ul class="pagination">
                <li>
                    <a href="/art/?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    {% if darts.has_previous %}
                        <a href="/art/?page={{ darts.previous_page_number }}" aria-label="Previous">上一页</a>
                    {% else %}
                        <a href="/art/?page={{ darts.number }}" aria-label="Previous">上一页</a>
                    {% endif %}
                </li>
                {% for p in darts.paginator.page_range %}
                    <li {% if darts.number == p %}class="active"{% endif %}><a href="/art/?page={{ p }}">{{ p }}</a></li>
                {% endfor %}
                <li>
                    {% if darts.has_next %}
                        <a href="/art/?page={{ darts.next_page_number }}" aria-label="Previous">下一页</a>
                    {% else %}
                        <a href="/art/?page={{ darts.number }}" aria-label="Previous">下一页</a>
                    {% endif %}
                </li>
                <li>
                    <a href="/art/?page={{ darts.paginator.num_pages }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}

{% endblock %}