{% extends 'ArtBase.html' %}
{% block content %}

    <h3>审核通过资源</h3>
    <table class="table" id="audit" style="margin-top: 20px;">
        <thead style="font-size: 14px; font-weight: 800;">
            <tr></tr>
            <tr>
                <td>ID</td>
                <td>类别</td>
                <td>版本号</td>
                <td>预览图</td>
                <td>资源描述</td>
            </tr>
        </thead>
        <tbody>
            {% if not parts %}
                <tr>
                    <td colspan="5">没有审核通过资源!</td>
                </tr>
            {% else %}
                {% for p in parts %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.group.name }}</td>
                        <td>{{ p.version }}</td>
                        <td>
                            <img width="150px" src="{{ MEDIA_URL }}{{ p.screen_shot }}"/>
                        </td>
                        <td>
                            <textarea class="form-control" disabled>{{ p.description }}</textarea>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    
    {% if parts and parts.paginator.num_pages != 1 %}
        <nav style="text-align: center;">
            <ul class="pagination">
                <li>
                    <a href="/art/pass/?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    {% if parts.has_previous %}
                        <a href="/art/pass/?page={{ parts.previous_page_number }}" aria-label="Previous">上一页</a>
                    {% else %}
                        <a href="/art/pass/?page={{ parts.number }}" aria-label="Previous">上一页</a>
                    {% endif %}
                </li>
                {% for p in parts.paginator.page_range %}
                    <li {% if parts.number == p %}class="active"{% endif %}><a href="/art/pass/?page={{ p }}">{{ p }}</a></li>
                {% endfor %}
                <li>
                    {% if parts.has_next %}
                        <a href="/art/pass/?page={{ parts.next_page_number }}" aria-label="Previous">下一页</a>
                    {% else %}
                        <a href="/art/pass/?page={{ parts.number }}" aria-label="Previous">下一页</a>
                    {% endif %}
                </li>
                <li>
                    <a href="/art/pass/?page={{ parts.paginator.num_pages }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}

{% endblock %}