{% extends 'DeveloperBase.html' %}
{% block content %}

    <h2>搜索结果</h2>
    {% if artinfo_list %}
        {% for p in artinfo_list %}
            <div class="artinfo">
                <div class="row">
                    <div class="col-xs-7">
                        <h4 style="margin-left: 10px;">预览图<small>-点击图片可看大图</small></h4>
                        <div class="preview">
                            <script>
                                $(function() {
                                    $('#gallery{{ p.art_id }}').poptrox({
                                        usePopupCaption: true
                                    });
                                });
                            </script>
                            <div id="gallery{{ p.art_id }}" style="text-align: center;">
                                <a href="{{ MEDIA_URL }}{{ p.preview }}">
                                    <img width="{{ p.scale }}" src="{{ MEDIA_URL }}{{ p.preview }}"/>
                                </a>
                            </div>
                        </div>
                        <form action="{% url 'developer:download' %}" method="GET">
                            {% csrf_token %}
                            <input type="hidden" value="{{ p.art_id }}" name="art_id">
                            <input type="hidden" value="{{ p.group.id }}" name="group_id">
                            <button class="btn btn-sm btn-primary btn-block">资源下载</button>
                        </form>
                    </div>
                    <div class="col-xs-5">
                        <h4 class="row">资源信息</h4>
                        <div class="row" id="pic_info">
                            <div class="col-xs-5">类别</div>
                            <div class="col-xs-7">{{ p.group }}</div>
                        </div>
                        <div class="row" id="pic_info">
                            <div class="col-xs-5">作者</div>
                            <div class="col-xs-7">{{ p.user }}</div>
                        </div>
                        <div class="row" id="pic_info">
                            <div class="col-xs-5">版本</div>
                            <div class="col-xs-7">{{ p.version }}</div>
                        </div>
                        <div class="row" id="pic_info">
                            <div class="col-xs-5">上传时间</div>
                            <div class="col-xs-7" style="font-size: 10px;">{{ p.time }}</div>
                        </div>
                        {% for q in p.info_list %}
                            <div class="row" id="pic_info">
                                <div class="col-xs-5">{{ q.name }}</div>
                                <div class="col-xs-7">{{ q.value }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>无结果!请更换搜索条件!</h3>
    {% endif %}

{% endblock %}