{% extends 'DeveloperBase.html' %}
{% block content %}
    <div class="artinfo">
        <div class="row">
            <div class="col-xs-8">
                <h4 style="margin-left: 10px;">预览图<small>-点击图片可看原图</small></h4>
                <div class="preview">
                    <img width="100%" src="http://rack.2.mshcdn.com/media/ZgkyMDE1LzA5LzEzLzNjL2dvb2dsZXRodW1iLmIyNGE0LmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/63126c72/af4/google-thumb.jpg" />
                </div>
                <form action="" method="GET">
                    <button class="btn btn-sm btn-primary btn-block">资源下载</button>
                    <input type="hidden" value="" name="">
                </form>
            </div>
            <div class="col-xs-4">
                <h4 class="row">资源信息</h4>
                <div class="row" id="pic_info">
                    <div class="col-xs-5">作者</div>
                    <div class="col-xs-7">Attackjz</div>
                </div>
            </div>
        </div>
    </div>

    <nav style="text-align: center">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a href="#" aria-label="Previous">上一页</a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Previous">下一页</a>
            </li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}