<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>ArtWorkManager | Menu</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'ArtWorkManager/css/main.css' %}" >
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="menus">
        <div class="row">
            <div class="col-xs-7">
                <a href="/login/menu/">
                    <h3>ArtWorkManager <small>美术资源管理系统</small></h3>
                </a>
            </div>
            <div class="col-xs-5">
                <h2 id="username">
                    <span class="glyphicon glyphicon-user"></span>{{ user.username }}　
                    <span class="glyphicon glyphicon-share-alt"></span>
                    <a href="{% url 'login:sign_out' %}">退出</a>
                </h2>
            </div>
        </div>
    </div>

    <div id="menu">

        <div class="row">
            <div class="col-xs-3">
                {% if perms.home.can_admin %}
                    <div class="row-wall">
                        <a href="/manager">
                            <div class="row-img"><span class="glyphicon glyphicon-cog"></span></div>
                            <div class="row-name">后台管理</div>
                        </a>
                        <div class="row-txt">系统数据管理, 用户数据管理</div>
                    </div>
                {% else %}
                    <div class="row-wall-error">
                        <div class="row-img-error"><span class="glyphicon glyphicon-cog"></span></div>
                        <div class="row-name-error">后台管理</div>
                        <div class="row-txt-error">无访问权限</div>
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-3">
                {% if perms.home.can_plan %}
                    <div class="row-wall">
                        <a href="/plan">
                            <div class="row-img"><span class="glyphicon glyphicon-list-alt"></span></div>
                            <div class="row-name">任务管理</div>
                        </a>
                        <div class="row-txt">发布任务,审核任务,管理任务</div>
                    </div>
                {% else %}
                    <div class="row-wall-error">
                        <div class="row-img-error"><span class="glyphicon glyphicon-list-alt"></span></div>
                        <div class="row-name-error">任务管理</div>
                        <div class="row-txt-error">无访问权限</div>
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-3">
                {% if perms.home.can_art %}
                    <div class="row-wall">
                        <a href="/art">
                            <div class="row-img"><span class="glyphicon glyphicon-picture"></span></div>
                            <div class="row-name">资源管理</div>
                        </a>
                        <div class="row-txt">提交资源,查看资源,修改资源</div>
                    </div>
                {% else %}
                    <div class="row-wall-error">
                        <div class="row-img-error"><span class="glyphicon glyphicon-picture"></span></div>
                        <div class="row-name-error">资源管理</div>
                        <div class="row-txt-error">无访问权限</div>
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-3">
                {% if perms.home.can_developer %}
                    <div class="row-wall">
                        <a href="/developer">
                            <div class="row-img"><span class="glyphicon glyphicon-search"></span></div>
                            <div class="row-name">搜索资源</div>
                        </a>
                        <div class="row-txt">搜索资源,查看资源,下载资源</div>
                    </div>
                {% else %}
                    <div class="row-wall-error">
                        <div class="row-img-error"><span class="glyphicon glyphicon-search"></span></div>
                        <div class="row-name-error">搜索资源</div>
                        <div class="row-txt-error">无访问权限</div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

</body>
</html>