a{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none !important;
}

.login{
    width: 350px;
    height: 400px;
    margin:  auto;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*border: 2px solid #337ab7;*/
}

.login #line h3{
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.login h5{
    margin: 0;
    padding-bottom: 20px;
}

.login h3{
    text-align: left;
    margin: 0;
    padding: 20px;
}

#line{
    width: 100%;
    margin: auto;
    background: #337ab7;
    color: #ffffff;
}

.login-txt{
    background: #f0f0f0;
    height: 309px;
    /*margin-top: 9px;*/
}

.login input{
    width: 300px;
}

.login .form-group{
    margin-left: 20px;
    margin-right: 0;
    margin-bottom: 15px !important;
    text-align: left;
}

.username,
.sign_in{
    margin-bottom: 20px;
    text-align: center;
}

.password{
    margin-bottom: 20px;
}

.error{
    font-size: 14px;
    color: #CC3434;
    font-weight: 900;
    text-align: center;
}

.sign_in input{
    width: 230px;
    height: 40px;
    background: #337ab7 !important;
    color: #ffffff;
    border: none !important;
    font-size: 18px;
    margin-top: 10px;
}

.sign_in input:hover{
    color: #ffffff !important;
    background: #337ab7 !important;
    opacity: 0.7;
}

.menu{
    width: 800px;
    margin: 0 auto;
    color: #34495E;
    padding-top: 20px;
}

.menu .row h2{
    margin-top: 10px;
    margin-left: 10px;
    color: #34495E;
}

.menus{
    margin: 0;
    padding: 0;
    width: 100%;
    background: #337ab7;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
}

.menus .row{
    width: 1000px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
}

.menus .row h3{
    margin: 0;
    height: 50px;
    line-height: 50px;
}

.menus .row h3 small{
    color: #ffffff;
}

.menus .row #username{
    margin: 0;
    height: 50px;
    line-height: 50px;
}

.menus .row #username a{
    text-decoration: #ffffff;
    color: #ffffff;
}

#menu{
    width: 800px;
    height: 300px;
    margin:  auto;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f0f0f0;
}

#menu #row1{
    padding-top: 40px;
    padding-bottom: 10px;
    width: 87%;
    margin: 0 auto;
}

#menu #row2{
    padding-top: 10px;
    padding-bottom: 40px;
    width: 87%;
    margin: 0 auto;
}

#username{
    font-size: 18px;
    text-align: right;
    margin-right: 10px;
    margin-top: 20px;
}

#username a{
    margin-right: 20px;
}

#description{
    height: 250px;
    resize: none;
}

#tag_info h4{
    text-align: center;
    margin-top: 40px;
}

.plan h2{
    color: #000000;
}


.row-name{
    height: 40px;
    line-height: 40px;
    background: #337ab7;
    color: #ffffff;
    font-size: 20px;
}

.row-txt{
    height: 60px;
    line-height: 60px;
    color: #000000;
    border-right: 2px solid #337ab7;
    border-left: 2px solid #337ab7;
    border-bottom: 2px solid #337ab7;
}

.plan,
.manager,
.developer{
    width: 1000px;
    margin:  0 auto;
    margin-top: 20px;
}

.plan .col-xs-3 ul,
.manager .row ul{
    width: 100%;
    height: 250px;
    list-style: none;
    padding: 0;
}

.plan .col-xs-3 ul li,
.manager .row ul li{
    width: 100%;
    color: #000000;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding-left: 10px;
}

.plan .col-xs-3 ul li:hover,
.manager .row ul li:hover{
    width: 100%;
    background: #337ab7;
}

.plan .col-xs-3 ul li:hover a,
.manager .row ul li:hover a{
    color: #ffffff;
    text-decoration: none;
}

.plan .row .col-xs-3,
.manager .row .col-xs-3,
.developer .row .col-xs-3{
    /*border: 2px solid #337ab7;*/
    background: #f0f0f0;
}

.manager-panel{
    width: 100%;
    height: 50px;
}


.no-group{
    height: 500px;
    width: 100%;
    line-height: 500px;
    font-size: 20px;
    background: #f0f0f0;
    text-align: center;
}

#back{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #337ab7;
    color: #ffffff;
    margin-bottom: 20px;
}

.error{
    width: 100%;
    border: 2px solid #cc1111;
    color: #cc1111;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 12px;
}

#audit{
    text-align: center;
}

#audit1{
    border: none;
    background: #337ab7;
    color: #ffffff;
}

#audit2{
    border: none;
    background: #f0f0f0;
    color: #337ab7;
}

#audit1 a{
    color: #ffffff;
}

#audit1 a:hover{
    color: #ffffff;
}

#audit3{
    border: none;
    width: 10px;
}

#audit td{
    vertical-align: middle;
}

#audit td textarea{
    width: 100%;
    height: 100px;
    resize: none;
}

#at1{
    height: 30px;
    line-height: 30px;
    background: #337ab7;
    color: #ffffff;
    text-align: center;
    margin-bottom: 5px;
}

#at2{
    height: 30px;
    line-height: 30px;
    background: #f0f0f0;
    color: #337ab7;
    text-align: center;
    margin-bottom: 5px;
}

#at3{
    height: 30px;
    line-height: 30px;
    background: #337ab7;
    color: #ffffff;
    text-align: center;
}

#at4{
    background: #f0f0f0;
    color: #337ab7;
    text-align: left;
    margin-bottom: 5px;
    padding: 10px;
    word-wrap: break-word;
    word-break: normal;
}

#search_img h3{
    padding-top: 50px;
    text-align: center;
}

.artinfo{
    background: #f0f0f0;
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
}

.artinfo .col-xs-4{
    height: 400px;
    overflow-y: auto;
    padding-bottom: 10px;
}

.preview{
    width: 95%;
    margin: auto;
    border: 2px solid #337ab7;
    height: 300px;
    line-height: 270px;
    padding: 10px;
}

.artinfo button{
    margin-top: 15px;
    width: 200px;
    margin-left: 10px;
}

#pic_info{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 5px;
}

#pic_info .col-xs-5{
    background: #337ab7;
    color: #ffffff;
    height: 30px;
}

#pic_info .col-xs-7{
    background: #ffffff;
    color: #000000;
}
