{% extends 'ManagerBase.html' %}
{% block content %}

    <div class="manager">
        <div class="row">
            <div class="col-xs-3">
                <h2>后台管理</h2>
                <ul>
                    <li><a href="/manager/">类别管理 Group</a></li>
                    <li><a href="/manager/tag/">标签管理 Tag</a></li>
                    <li><a href="/admin/auth/user/">用户管理 User</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <div class="manager-panel">
                    <h2>类别管理 Group</h2>
                    <form method="post" action="{% url 'manager:add' %}">
                        {% csrf_token %}
                        <table class="table">
                            <thead style="font-size: 20px; font-weight: 800; text-align: left;">
                                <tr>
                                    <td colspan="7" style="vertical-align: middle;">添加类别</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="vertical-align: middle;"><strong>Code</strong></td>
                                    <td>
                                        <input type="text" class="form-control input-sm" name="code">
                                    </td>
                                    <td style="vertical-align: middle;"><strong>Name</strong></td>
                                    <td>
                                        <input type="text" class="form-control input-sm" style="width: 200px;" name="name">
                                    </td>
                                    <td style="vertical-align: middle;"><strong>Formate</strong></td>
                                    <td>
                                        <input type="text" class="form-control input-sm" name="formate">
                                    </td>
                                    <td>
                                        <button id="add" class="btn btn-primary btn-block btn-sm" type="submit" style="width: 100%;">ADD</button>
                                        <input type="hidden" name="GInfo" value="group">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <table class="table" style="text-align: center;">
                        <thead style="font-size: 14px; font-weight: 800;">
                            <tr style="font-size: 20px; text-align: left;">
                                <td colspan="4">类别列表</td>
                            </tr>
                            <tr>
                                <td>Code</td>
                                <td>Name</td>
                                <td>Format</td>
                                <td>Operation</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% if not group_list %}
                            <tr>
                                <td colspan="4">没有类别,请添加类别!</td>
                            </tr>
                        {% else %}
                            {% for p in group_list %}
                            <tr>
                                <td style="vertical-align: middle;">{{ p.code }}</td>
                                <td style="vertical-align: middle;">{{ p.name }}</td>
                                <td style="vertical-align: middle;">{{ p.format }}</td>
                                <td style="vertical-align: middle;">
                                    <a href="{{ p.id }}"><button class="btn btn-primary btn-block btn-sm" style="width: 100%;">更新,管理GTT</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}