{% extends 'ManagerBase.html' %}
{% block content %}

    <h2>标签管理 Tag</h2>
    <form method="post" action="{% url 'manager:add' %}">
        {% csrf_token %}
        <table class="table">
            <thead style="font-size: 20px; font-weight: 800; text-align: left;">
                <tr>
                    <td colspan="5" style="vertical-align: middle;">添加标签</td>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                <tr>
                    <td style="vertical-align: middle;"><strong>Code</strong></td>
                    <td>
                        <input type="text" class="form-control input-sm" name="code" placeholder="编号">
                    </td>
                    <td style="vertical-align: middle;"><strong>Name</strong></td>
                    <td>
                        <input type="text" class="form-control input-sm" style="width: 100%;" name="name" placeholder="名称">
                    </td>
                    <td>
                        <button id="add" class="btn btn-primary btn-block btn-sm" type="submit" style="width: 100%;">添加</button>
                        <input type="hidden" name="GInfo" value="tag">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    {% if error_txt %}
        <div class="error">{{ error_txt }}</div>
    {% endif %}
    <table class="table" style="text-align: center;">
        <thead style="font-size: 14px; font-weight: 800;">
            <tr style="font-size: 20px; text-align: left;">
                <td colspan="3">标签列表</td>
            </tr>
            <tr>
                <td>编号 Code</td>
                <td>名称 Name</td>
                <td>操作 Operation</td>
            </tr>
        </thead>
        <tbody>
        {% if not tag_list %}
            <tr>
                <td colspan="4">没有标签,请添加标签!</td>
            </tr>
        {% else %}
            {% for p in tag_list %}
            <tr>
                <td style="vertical-align: middle;">{{ p.code }}</td>
                <td style="vertical-align: middle;">{{ p.name }}</td>
                <td style="vertical-align: middle;">
                    <a href="/manager/updatetag/{{ p.id }}/"><button class="btn btn-primary btn-block btn-sm" style="width: 100%;" type="button">更新</button></a>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

{% endblock %}