<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>ArtWorkManager</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'ArtWorkManager/css/main.css' %}" >
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="menus">
        <div class="row">
            <div class="col-xs-7">
                <h3>ArtWorkManager <small>美术资源管理系统</small></h3>
            </div>
            <div class="col-xs-5">
                <h2 id="username">
                    <span class="glyphicon glyphicon-user"></span>{{ user.username }}　
                    <span class="glyphicon glyphicon-share-alt"></span>
                    <a href="{% url 'login:sign_out' %}">退出</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="manager">
        <div class="row">
            <div class="col-xs-3">
                <a href="/login/menu/" style="color: #000000;"><h2>后台管理</h2></a>
                <ul>
                    <li><a href="/manager/">类别管理 Group</a></li>
                    <li><a href="/manager/tag/">标签管理 Tag</a></li>
                    <li><a href="/admin/auth/user/">用户管理 User</a></li>
                </ul>
                <a href="/login/menu"><div id="back">返回主页</div></a>
            </div>
            <div class="col-xs-9">
                <div class="manager-panel">

                    {% block content %}

                    {% endblock %}

                </div>
            </div>
        </div>
    </div>

</body>
</html>