{% extends 'ManagerBase.html' %}
{% block content %}

    <h2>类别管理 Group</h2>
    <form method="post" action="{% url 'manager:add' %}">
        {% csrf_token %}
        <table class="table">
            <thead style="font-size: 20px; font-weight: 800; text-align: left;">
                <tr>
                    <td colspan="7" style="vertical-align: middle;">添加类别</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="vertical-align: middle;"><strong>Code</strong></td>
                    <td>
                        <input type="text" class="form-control input-sm" name="code" placeholder="编号">
                    </td>
                    <td style="vertical-align: middle;"><strong>Name</strong></td>
                    <td>
                        <input type="text" class="form-control input-sm" style="width: 200px;" name="name" placeholder="名称">
                    </td>
                    {% if formats %}
                        <td style="vertical-align: middle;"><strong>Format</strong></td>
                        <td>
                            <select name="format" class="form-control input-sm" style="width: 100px">
                                {% for f in formats  %}
                                    <option value="{{ f.name }}">{{ f.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <button id="add" class="btn btn-primary btn-block btn-sm" type="submit" style="width: 100%;">添加</button>
                            <input type="hidden" name="GInfo" value="group">
                        </td>
                    {% else %}
                        <td colspan="3" style="vertical-align: middle;">请先<a href="/admin/home/groupformat/add/" target="view_window">添加文件类型</a>,再添加类别!</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </form>
    {% if error_txt %}
        <script>
            function error_hide(){
                $("#error_txt").fadeOut("5000");
            }
            $(function() {
                $("#error_txt").slideDown("slow");
                setTimeout('error_hide()',5000);
            });
        </script>
        <div id="error_txt" class="alert alert-danger" role="alert" style="text-align: center; display: none;">{{ error_txt }}</div>
    {% endif %}
    <table class="table" style="text-align: center;">
        <thead style="font-size: 14px; font-weight: 800;">
            <tr style="font-size: 20px; text-align: left;">
                <td colspan="4">类别列表</td>
            </tr>
            <tr>
                <td>编号 Code</td>
                <td>名称 Name</td>
                <td>文件类型 Format</td>
                <td>操作 Operation</td>
            </tr>
        </thead>
        <tbody>
        {% if not group_list %}
            <tr>
                <td colspan="4">没有类别,请添加类别!</td>
            </tr>
        {% else %}
            {% for p in group_list %}
            <tr>
                <td style="vertical-align: middle;">{{ p.code }}</td>
                <td style="vertical-align: middle;">{{ p.name }}</td>
                <td style="vertical-align: middle;">{{ p.format }}</td>
                <td style="vertical-align: middle;">
                    <a href="/manager/updategroup/{{ p.id }}"><button class="btn btn-primary btn-block btn-sm" style="width: 100%;">更新,管理GTT</button></a>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

{% endblock %}