{% load static from staticfiles %}
<script src="{% static 'ArtWorkManager/js/jquery.poptrox.js' %}"></script>
<style>
    #gallery { overflow: hidden; }
    #gallery a { display: block; }
    #gallery a img { display: block; border: 0; margin: auto; }
</style>
<script>
    $(function() {
        $('#gallery').poptrox({
            usePopupCaption: true
        });

    });
</script>
<table class="table" id="audit" style="margin-top: 20px;">
    <thead style="font-size: 14px; font-weight: 800;">
        <tr style="font-size: 20px; text-align: left;">
            <td colspan="5">审核未通过任务</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>类别</td>
            <td>预览图</td>
            <td>审核未通过原因</td>
        </tr>
    </thead>
    <tbody>
        {% if not farts %}
            <tr>
                <td colspan="4">没有审核未通过任务!</td>
            </tr>
        {% else %}
            {% for p in farts %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.group.name }}</td>
                    <td>
                        <div id="gallery">
                            <a href="{{ MEDIA_URL }}{{ p.screen_shot }}">
                                <img width="150px" src="{{ MEDIA_URL }}{{ p.screen_shot }}" />
                            </a>
                        </div>
                    </td>
                    <td>
                        <textarea class="form-control" disabled>{{ p.reason }}</textarea>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>

<nav style="text-align: center">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li>
            <a href="#" aria-label="Previous">上一页</a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Previous">下一页</a>
        </li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>