{% extends 'PlanBase.html' %}
{% block content %}

    <h2>审核任务</h2>

    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-4">
            <a href="/plan/audit_plan/">
                <div class="admin_task">
                    <div class="dsh"></div>
                    <div class="task_font">等待审核</div>
                    <div class="task_num">{{ wsh }}</div>
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="javascript:to_audit(1)">
                <div class="admin_task">
                    <span class="glyphicon glyphicon-ok-circle" style="color: green; font-size: 30px;"></span>
                    <div class="task_font">审核通过</div>
                    <div class="task_num">{{ psh }}</div>
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="javascript:to_audit(0)">
                <div class="admin_task">
                    <span class="glyphicon glyphicon-remove-circle" style="color: red; font-size: 30px;"></span>
                    <div class="task_font">审核未通过</div>
                    <div class="task_num">{{ fsh }}</div>
                </div>
            </a>
        </div>
    </div>

    <div id="audit_task">
        <table class="table" id="audit" style="margin-top: 20px;">
            <thead style="font-size: 14px; font-weight: 800;">
                <tr style="font-size: 20px; text-align: left;">
                    <td colspan="5">待审核任务</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>类别</td>
                    <td>任务描述</td>
                    <td>预览图</td>
                    <td>审核</td>
                </tr>
            </thead>
            <tbody>
                {% if not wshs %}
                    <tr>
                        <td colspan="5">没有待审核任务!</td>
                    </tr>
                {% else %}
                    {% for p in wshs %}
                        <tr>
                            <td>{{ p.id }}</td>
                            <td>{{ p.group.name }}</td>
                            <td>
                                <textarea class="form-control" disabled>{{ p.description }}</textarea>
                            </td>
                            <td>
                                <script>
                                    $(function() {
                                        $('#gallery{{ p.id }}').poptrox({
                                            usePopupCaption: true
                                        });
                                    });
                                </script>
                                <div id="gallery{{ p.id }}">
                                    <a href="{{ MEDIA_URL }}{{ p.screen_shot }}">
                                        <img width="150px" src="{{ MEDIA_URL }}{{ p.screen_shot }}" />
                                    </a>
                                </div>
                            </td>
                            <td>
                                <a href="/plan/task_audit/{{ p.id }}"><button class="btn btn-primary btn-block btn-sm" style="width: 100%;">审核</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <nav style="text-align: center">
            <ul class="pagination">
                <li>
                    <a href="/plan/audit_plan/?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    {% if wshs.has_previous %}
                        <a href="/plan/audit_plan/?page={{ wshs.previous_page_number }}" aria-label="Previous">上一页</a>
                    {% else %}
                        <a href="/plan/audit_plan/?page={{ wshs.number }}" aria-label="Previous">上一页</a>
                    {% endif %}
                </li>
                {% for p in wshs.paginator.page_range %}
                    <li {% if wshs.number == p %}class="active"{% endif %}><a href="/plan/audit_plan/?page={{ p }}">{{ p }}</a></li>
                {% endfor %}
                <li>
                    {% if wshs.has_next %}
                        <a href="/plan/audit_plan/?page={{ wshs.next_page_number }}" aria-label="Previous">下一页</a>
                    {% else %}
                        <a href="/plan/audit_plan/?page={{ wshs.number }}" aria-label="Previous">下一页</a>
                    {% endif %}
                </li>
                <li>
                    <a href="/plan/audit_plan/?page={{ wshs.paginator.num_pages }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

{% endblock %}