{% extends 'PlanBase.html' %}
{% block content %}

    <h2>管理任务</h2>

    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-6">
            <a href="/plan/audit_plan/">
                <div class="admin_task">
                    <span class="glyphicon glyphicon-ok-circle" style="color: green; font-size: 30px;"></span>
                    <div class="task_font">已提交资源任务</div>
                    <div class="task_num">{{ yimg }}</div>
                </div>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="/plan/admin_plan/">
                <div class="admin_task">
                    <span class="glyphicon glyphicon-remove-circle" style="color: red; font-size: 30px;"></span>
                    <div class="task_font">未提交资源任务</div>
                    <div class="task_num">{{ nimg }}</div>
                </div>
            </a>
        </div>
    </div>

    <table class="table" id="audit" style="margin-top: 20px;">
        <thead style="font-size: 14px; font-weight: 800;">
            <tr style="font-size: 20px; text-align: left;">
                <td colspan="5">未提交资源任务</td>
            </tr>
            <tr>
                <td>ID</td>
                <td>类别</td>
                <td>任务优先级</td>
                <td>任务描述</td>
                <td>修改</td>
            </tr>
        </thead>
        <tbody>
            {% if not narts %}
                <tr>
                    <td colspan="5">没有未提交资源任务!</td>
                </tr>
            {% else %}
                {% for p in narts %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.group.name }}</td>
                        <td>{{ p.priority }}</td>
                        <td>
                            <textarea class="form-control" disabled>{{ p.description }}</textarea>
                        </td>
                        <td>
                            <form action="{% url 'plan:del_task' %}" method="get">
                                {% csrf_token %}
                                <input type="hidden" value="{{ p.id }}" name="art_id">
                                <button class="btn btn-primary btn-block btn-sm" style="width: 100%;">删除</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <nav style="text-align: center">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a href="#" aria-label="Previous">上一页</a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Previous">下一页</a>
            </li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}