{% extends 'PlanBase.html' %}
{% block content %}

        <form action="{% url 'plan:create_task' %}" method="post">
            {% csrf_token %}
            <h2>发布任务</h2>
            <div class="row">
                <div class="col-xs-6">
                    {% if group_list %}
                        <div class="form-group">
                            <label for="group">类别</label>
                            <select name="group" id="group" class="form-control" onchange="search_tag(this)">
                                <option value="">请选择</option>
                                {% for group in group_list %}
                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="tag_info">
                            <h4>请选择资源类别</h4>
                        </div>
                    {% else %}
                        <a href="/manager/"><button type="button" class="btn btn-lg btn-primary btn-block">添加类别</button></a>
                    {% endif %}
                    <div class="form-group" style="display: none;">
                        <textarea id="tags" class="form-control">{}</textarea>
                    </div>
                </div>
                <div class="col-xs-6">
                    {% if group_list %}
                        <div class="form-group">
                            <label for="username">任务完成人 User</label>
                            <select id="usernames" class="form-control input-sm" name="username">
                                {% for q in user_list  %}
                                    <option value="{{ q.id }}">{{ q.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="priority">任务优先级 Priority</label>
                            <input type="number" min="0" value="0" class="form-control" id="priority" name="priority">
                        </div>
                        <div id="big_version">
                            <div class="form-group">
                                <label for="big_version">任务版本号 Big_Version</label>
                                <select name="big_version" class="form-control" disabled></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">任务描述 Description</label>
                            <textarea class="form-control" name="description" id="description" placeholder="Description"></textarea>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block">发布</button>
                    {% else %}
                        <div class="no-group">请点击左侧按钮添加类别</div>
                    {% endif %}
                </div>
            </div>
        </form>

{% endblock %}