<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>ArtWorkManager | 任务管理</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'ArtWorkManager/css/main.css' %}" >
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'ArtWorkManager/js/main.js' %}"></script>
</head>
<body>

    <div class="menus">
        <div class="row">
            <div class="col-xs-7">
                <h3>ArtWorkManager <small>美术资源管理系统</small></h3>
            </div>
            <div class="col-xs-5">
                <h2 id="username">
                    <span class="glyphicon glyphicon-user"></span>{{ user.username }}　
                    <span class="glyphicon glyphicon-share-alt"></span>
                    <a href="{% url 'login:sign_out' %}">退出</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="plan">
        <div class="row">
            <div class="col-xs-3">
                <h2>任务管理</h2>
                <ul>
                    <li><a href="/plan/">发布任务</a></li>
                    <li><a href="/plan/">管理任务</a></li>
                    <li><a href="/plan/">审核任务</a></li>
                </ul>
                <a href="/login/menu"><div id="back">返回主页</div></a>
            </div>
            <div class="col-xs-9">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>